/*
  Paul SCSS Accessibility Class
  Author: SeungHyun Lim
*/

.a11y-hidden {
  overflow: hidden;
  position: absolute !important;
  top: -9999em;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
