/*
  Paul Front Variables SCSS Management File
  Author: SeungHyun Lim
*/

/*
** Font Variables
** Default KOR Font: NanumSquare
** Default ENG Font: Roboto
** Element ENG Font: Raleway
** HeadLine ENG Title: Fira Sans
** Update: 2019. 08. 14
*/
$font-family:'Roboto', 'NanumSquare', sans-serif;
$font-light:300; // NanumSquare
$font-regular:400; // Raleway, NanumSquare, Fira
$font-medium:500; // Raleway, Fira, Roboto
$font-semi-bold:600; // Raleway, Roboto
$font-bold:700; // Raleway, NanumSquare, Roboto
$font-bolder:800; // NanumSquare

/*
  Grid BreakPoint
*/
$device-breakpoint: 768px;

/*
 * Gutter
 */
$gutter: 8px;