.service {
  padding-top: 160px;
  padding-bottom: 80px;
  @media (max-width: $device-breakpoint) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.service__common {
  padding-bottom: 140px;
  @media (max-width: $device-breakpoint) {
    padding-bottom: 70px;
  }
  h1 {
    font-size: 38px;
    padding-bottom: 40px;
    @media (max-width: $device-breakpoint) {
      padding-bottom: 18px;
    }
  }

  .common__contents {
    display: flex;
    @media (max-width: $device-breakpoint) {
      flex-direction: column;
    }
  }

  .contents__text {
    display: flex;
    flex: 0 0 0;
    flex-basis: 60%;
    line-height: 24px;
    @media (max-width: $device-breakpoint) {
      flex-basis: 100%;
      word-break: keep-all;
      padding-bottom: 40px;
    }
  }

  .contents__list {
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
    flex-basis: 40%;

    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 12px;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        content: '';
        width: 4px;
        height: 4px;
        background: #161616;
        border-radius: 50%;
        transform: translateY(-50%);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.service__not {
  .contents__list {
    li {
      font-weight: $font-medium;
    }
  }
}

.service__method {
  .contents__text {
    padding-bottom: 120px;
    @media (max-width: $device-breakpoint) {
      padding-bottom: 70px;
    }
  }
}

.service__thumbnail {
  padding-bottom: 70%;
  @media (max-width: $device-breakpoint) {
    margin-bottom: 26px;
  }
}

.service__process {
  display: flex;
  flex-wrap: wrap;
  li {
    display: flex;
    flex-basis: 50%;
    margin-bottom: 100px;
    @media (max-width: $device-breakpoint) {
      flex-basis: 100%;
      margin-bottom: 60px;
    }
    &:nth-child(2n-1) {
      padding-right: 50px;
      @media (max-width: $device-breakpoint) {
        padding-right: 0;
      }
    }
    &:nth-child(2n) {
      padding-left: 50px;
      @media (max-width: $device-breakpoint) {
        padding-left: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    .service__contents {
      .service__header {
        position: relative;
        font-size: 28px;
        margin-bottom: 16px;
        padding-left: 80px;
        @media (max-width: $device-breakpoint) {
          font-size: 20px;
          margin-top: 0;
          margin-bottom: 4px;
          padding-left: 58px;
        }
        .number {
          position: absolute;
          top: -10px;
          left: 0;
          font-size: 60px;
          @media (max-width: $device-breakpoint) {
            top: -4px;
            font-size: 36px;
          }
        }
        .title {
          font-size: 24px;
          margin-bottom: 6px;
          @media (max-width: $device-breakpoint) {
            font-size: 18px;
          }
        }
        .hash {
          font-size: 14px;
          vertical-align: top;
          text-transform: uppercase;
          color: #777;
          font-weight: $font-regular;
          @media (max-width: $device-breakpoint) {
            font-size: 12px;
          }
        }
      }

      .service__wording {
        font-size: 16px;
        line-height: 22px;
        word-break: keep-all;
        @media (max-width: $device-breakpoint) {
          font-size: 14px;
          word-break: break-all;
        }
      }
    }
  }
  .flex-reverse {
    @media (max-width: $device-breakpoint) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.service__btn {
  display: inline-block;
  margin-top: 24px;
  padding: 0 40px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #161616;
  font-size: 16px;
  font-weight: 700;
}

/* Guide */
.guide {
  padding-top: 160px;
  padding-bottom: 80px;
  @media (max-width: $device-breakpoint) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  figure {
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }
}
