.list__padding-top {
  padding-top: 160px;
  padding-bottom: 80px;
  @media (max-width: $device-breakpoint) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.list__filter {
  display: table;
  margin: 0 auto;
  padding-bottom: 30px;
  li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    padding: 0 6px;
    @media (max-width: $device-breakpoint) {
      margin-right: 10px;
    }
    &.active {
      &:after {
        position: absolute;
        top: 49%;
        left: 0;
        display: block;
        content: '';
        width: 100%;
        height: 2px;
        background: #000;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.list__group {
  font-size: 0;
}

.workspace__list {
  position: relative;
  display: inline-block;
  width: 50%;
  border: 1px solid #fff;
  @media (max-width: $device-breakpoint) {
    width: 100%;
    border: none;
    margin-bottom: 2px;
  }

  .list__thumbnail {
    padding-bottom: 100%;
    background-size: contain;
    background-position: center;
  }

  .list__summary {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    color: #efefef;
    text-align: center;
    padding-top: 46.2%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    @media (max-width: $device-breakpoint) {
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      opacity: 1;
      padding-top: 0;
      top: 0;
      height: auto;
      background-color: initial;
    }

    .list__title {
      color: #fff;
      font-size: 22px;
      transform: translate3d(0, -10px, 0);
      -webkit-transform: translate3d(0, -10px, 0);
      -moz-transform: translate3d(0, -10px, 0);
      opacity: 0;
      transition: transform .5s ease-out .2s, opacity .5s ease-out .3s;
      -webkit-transition: -webkit-transform .5s ease-out .2s, opacity .5s ease-out .3s;
      -moz-transition: -moz-transform .5s ease-out .2s, opacity .5s ease-out .3s;
      @media (max-width: $device-breakpoint) {
        font-size: 16px;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        padding-top: 16px;
        padding-left: 16px;
        text-align: left;
        color: #000;
      }
    }
  }

  &:hover {
    .list__summary {
      opacity: 1;

      .list__title {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
      }
    }
  }
}

.list__empty {
  font-size: 14px;
  font-weight: $font-bold;
  text-align: center;
  padding: 120px 0;
}