.logo-path {
  fill: $primary-color;
}
.layout-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  padding: 0 ($gutter * 4);
  @media (max-width: $device-breakpoint) {
    padding: 0 ($gutter * 2);
  }
  transition: 0.3s;

  .logo__icon {
    width: 100px;
    vertical-align: top;
  }

  &.main-header {
    .layout-header__button {
      color: $black;
      transition: 0.5s;

      &.color-black {
        color: $black;
      }
    }
  }

  &.fixed {
    background: $beige;
  }

  .layout-header__inner {
    position: relative;
    height: 60px;
  }

  .layout-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      display: block;
      font-size: 25px;
    }
  }

  .layout-header__menu {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1600;
  }

  .layout-header__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    display: none;
    width: 100%;
    height: 100vh;
    background: #161616;
    opacity: 0.3;

    &.layout-header__bg__left {
      &.open {
        display: block;
      }

      &.close {
        display: none;
      }
    }

    &.layout-header__bg__right {
      &.open {
        display: block;
      }

      &.close {
        display: none;
      }
    }
  }

  .layout-header__contact {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1600;
  }

  .layout-header__button {
    position: relative;
    z-index: 120;
    display: block;
    width: 80px;
    line-height: 60px;
    font-size: 16px;
    font-weight: $font-semi-bold;
    text-align: left;
    color: $black;

    &.text-right {
      text-align: right !important;
    }

    &.color-black {
      color: $black;
    }

    &.zindex {
      z-index: 90;
    }
  }
}

.layout-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: 420px;
  background: #fff;
  transition: 0.35s;
  @media (max-width: $device-breakpoint) {
    width: 100%;
    max-width: initial;
  }

  &.layout-nav__left {
    left: 0;
    transform: translateX(-100%);

    &.open {
      transform: translateX(0);
    }

    &.close {
      transform: translateX(-100%);
    }
  }

  &.layout-nav__right {
    right: 0;
    transform: translateX(100%);

    &.open {
      transform: translateX(0);
    }

    &.close {
      transform: translateX(100%);
    }
  }
}

.navigation {
  width: 100%;
  ul li {
    padding-bottom: 42px;
    @media (max-width: $device-breakpoint) {
      padding-bottom: 36px;
      text-align: center;
    }

    &:last-child {
      padding-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      font-size: 36px;
      font-weight: 600;
      padding: 0 10px;
      text-transform: uppercase;
      color: $black;
      &.nuxt-link-active {
        .line {
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background: $black;
        }
      }
    }
  }
}

.contact {
  position: relative;
  .contact__relative {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding:0 32px;
    @media (max-width: $device-breakpoint) {
      padding: 0 20px;
    }
  }
  .contact__title {
    font-size: 24px;
    font-weight: $font-semi-bold;
    margin-bottom: 32px;
  }
  .contact__form-group {
    padding-bottom: 26px;
    .error-msg {
      position: absolute;
      font-size: 12px;
      color: #ff4500;
      padding-top: 5px;
    }
    .error-agree {
      padding-top: 8px;
    }
  }
  .form-group {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2;
    &:before {
      position: absolute;
      bottom: -1px;
      display: block;
      content: '';
      width: 0;
      height: 1px;
      background: #161616;
    }
    &.focus {
      &:before {
        animation: lineDrawing 0.35s ease-in forwards;
      }
    }
    &.is-error {
      &:before {
        background: #ff4500;
        animation: lineDrawing 0.35s ease-in forwards;
      }
    }
    @keyframes lineDrawing {
      to {
        width: 100%;
      }
    }
    &:after {
      display: block;
      content: '';
      clear: both;
    }
    label {
      float: left;
      width: 70px;
      margin-right: 10px;
      font-size: 16px;
      font-weight: $font-semi-bold;
    }
    input,
    select,
    textarea {
      float: right;
      width: calc(100% - 80px);
      font-size: 16px;
      background: #fff;
      border: none;
      outline: 0;
    }
    select {
      -webkit-appearance: none;
    }
    textarea {
      height: 100px;
    }
  }
  .form-agree {
    label {
      display: inline-block;
      vertical-align: top;
      margin-right: 6px;
    }
    input {
      margin-right: 10px;
    }
    span {
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .form-send {
    position: relative;
    display: inline-block;
    margin-top: 26px;
    button {
      width: 120px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #161616;
      font-size: 16px;
      font-weight: $font-bold;
    }
  }
}

.contact-modal__body {
  p {
    color: #161616;
  }
}

// Loading
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #161616;
}
.lds-ring {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 20px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid #161616;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #161616 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}