.fira-title {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: $font-regular;
}

.fira-title__medium {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-weight: $font-medium;
}
